// Styles apply to entire app

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none; // Hide the default scroll bar
  }

  .root {
    width: 100%;
    height: 100%;
  }
}