.scrollBubble {

    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 10;

    width: 2.5em;
    height: 2.5em;

    background-color: hsla(0, 0, 100%, 50%);
    border: 0.25em solid $gray-000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: hsla(0, 0, 0, 100%);
        border-color: white;
        transform: scale(1.25);

        img {
            filter: invert(100%);
        }
    }

    img {
        width: 2em;
        height: auto;
        transform: translateY(2px);
    }
}