header {
    position: sticky;
    top: 0;
    z-index: 10;

    width: 100%;
    height: $header-height;

    background-color: $brand-green;
    color: $gray-100;
    display: flex;
    gap: 10em;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    box-sizing: border-box;

    overflow: hidden;

    .profile {
        display: flex;
        align-items: center;
        gap: 2em;
        height: 100%;

        > img {
            border: 4px solid black;
            width: auto;
            height: 80%;
            aspect-ratio: 1; // Square
            border-radius: 50%; // Circle
        }

        .headerText {
            white-space: nowrap;
        }

        .profileLinks {
            height: 80%;
            display: flex;
            gap: 1em;

            > div {
                background-color: white;
                border-radius: 50%;
                border: 4px solid black;
                width: auto;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                
                > a {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
    
                    > img {
                        aspect-ratio: 1;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
