header {

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    gap: 5em;

    background-color: $brand-green;

    h1 {
        font-weight: 900;
        color: $text-1;
        white-space: nowrap;
    }
}
