.aboutMe {

    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-bottom: 5em;

    .bio {
        display: flex;
        align-items: stretch;
        gap: 2em;
        width: 100%;

        &:nth-child(odd) {
            flex-direction: row-reverse;
            .bioText {
                flex-direction: row-reverse;
                p {
                    text-align: right;
                }
            }
        }

        .bioText {
            flex: 1;
            display: flex;
            padding: 1em;
            align-items: center;
            background-color: $background-2;
            border-radius: 1em;
            min-width: 0;
            
            h2 {
                writing-mode: vertical-lr;
                text-orientation: upright;
                margin: 0;
                padding: 0 0.5em;
                font-size: clamp(2rem, 12vh, 4rem);
                letter-spacing: -0.4em;
                text-transform: uppercase;
                text-align: center;
            }

            p {
                margin: 0;
                font-size: 1.5em;
            }
        }

        .photoContainer {
            flex-shrink: 0;
            width: clamp(10rem, 20%, 16rem);
            aspect-ratio: 1; // Square
            border-radius: 1em;
            overflow: hidden;
            border: 1em solid $border-3;
            background-color: $border-3;

            .photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1em;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        .bio {
            flex-direction: column !important;
        }
    }
}