.aboutMe {

    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 5em 2em;
    background-color: $background-2;
    border-radius: 1em;
    margin-bottom: 5em;

    > h1 {
        padding-left: 0.5em;
    }

    .bio {
        display: flex;
        align-items: stretch;
        gap: 2em;
        width: 100%;

        &:nth-child(odd) {
            flex-direction: row-reverse;
            .bioText {
                flex-direction: row-reverse;
                p {
                    text-align: right;
                }
            }
        }

        .bioText {
            flex: 1;
            display: flex;
            padding: 1em;
            align-items: center;
            background-color: $background-3;
            border-radius: 1em;
            min-width: 0;
            transition: background-color 0.1s ease;

            &:hover {
                background-color: $background-4;
            }
            
            h2 {
                writing-mode: vertical-lr;
                text-orientation: upright;
                margin: 0;
                padding: 0 0.5em;
                font-size: clamp(2rem, 12vh, 4rem);
                letter-spacing: -0.4em;
                text-transform: uppercase;
                text-align: center;
            }

            p {
                margin: 0;
                font-size: 1.5em;
            }
        }

        .photoContainer {
            flex-shrink: 0;
            width: clamp(10rem, 20%, 16rem);
            aspect-ratio: 1; // Square
            border-radius: 1em;
            overflow: hidden;
            border: 1em solid $border-3;
            background-color: $border-3;

            .photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1em;
            }
        }
    }
}


@media screen and (max-width: 1100px) {

    .aboutMe {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        padding-right: 2em;

        > h1 {
            grid-column: span 3;
        }

        .bio {
            display: contents;

            .bioText {
                order: 1;
                width: 100%;
                grid-column: 1 / -1;
            }

            .photoContainer {
                order: 2;
                width: stretch;
                grid-column: span 1;
            }
        }
    }
    


    .bio {
        flex-direction: column !important;
    }
}