.projects {

    background-color: $background-2;
    padding: 5em 2em;
    border-radius: 1em;
    margin-bottom: 5em;

    h1 {
        margin-bottom: 1em;
    }

    .projectsContainers {

        display: flex;
        flex-direction: column;
        gap: 2em;

        .categoryContainer {

            padding: 2em;
            display: flex;
            flex-direction: column;
            background-color: $background-3;
            transition: background-color 0.1s ease;
            border-radius: 1em;

            &:hover {
                background-color: $background-4;
            }

            h2 {
                margin: 0.5em 0 1em 0;
            }

            .categoryProjects {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 2em;
            }
        }
    }
}