.contactMe {

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em 2em;
    background-color: $background-2;
    border-radius: 1em;
    margin-bottom: 5em;
    
    .subheader {
        font-size: 1.25em;
    }

    a {
        display: flex;
        align-items: center;
        gap: 1em;
        background-color: $background-3;
        padding: 1em;
        border-radius: 1em;
        
        &:hover {
            background-color: $background-4;

            p {
                color: $link-2;
            }

            img {
                transform: scale(1.2);
            }
        }
        
        p {
            font-size: 2em;
            margin: 0;

            transition: color 0.3s ease;

            &:nth-child(odd) {
                font-weight: bold;
            }
        }
    }

    .imageWrapper {
        background-color: white;
        border-radius: 50%;
        border: 4px solid black;
        width: 5em;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 3em;
            height: auto;
            aspect-ratio: 1;

            transition: transform 0.3s ease;
        }
    }
}