.themeToggle {
    position: relative;
    width: 4em;
    height: 2.5em;
    background: $text-1;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    transition: background 0.3s ease;

    .icon {
        width: 1.5em;
        height: 1.5em;
        z-index: 0;

        svg {
            width: 100%;
            height: 100%;
            path {
                transition: fill 0.3s ease;
                fill: $text-2;
            }
        }
    }

    .toggleSlider {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 32px;
        height: 32px;
        background: $brand-green;
        border-radius: 50%;
        transition: transform 0.5s ease, background 0.3s ease;
        z-index: 1;

        &.dark {
            transform: translateX(40px);
        }
    }

    &:hover {
        .toggleSlider {
            background: $brand-green;
        }
    }
    &:active {
        .toggleSlider {
            background: $brand-green;
        }
    }
}
