// Colors

$brand-red-25:        hsl(000, 100%, 25%);
$brand-orange-25:     hsl(040, 100%, 25%);
$brand-green-25:      hsl(100, 100%, 25%);
$brand-cyan-25:       hsl(200, 100%, 25%);
$brand-blue-25:       hsl(240, 100%, 25%);
$brand-purple-25:     hsl(300, 100%, 25%);
$brand-pink-25:       hsl(340, 100%, 25%);

$brand-red-50:        hsl(000, 100%, 50%);
$brand-orange-50:     hsl(040, 100%, 50%);
$brand-green-50:      hsl(100, 100%, 50%);
$brand-cyan-50:       hsl(200, 100%, 50%);
$brand-blue-50:       hsl(240, 100%, 50%);
$brand-purple-50:     hsl(300, 100%, 50%);
$brand-pink-50:       hsl(340, 100%, 50%);

$brand-red-75:        hsl(000, 100%, 75%);
$brand-orange-75:     hsl(040, 100%, 75%);
$brand-green-75:      hsl(100, 100%, 75%);
$brand-cyan-75:       hsl(200, 100%, 75%);
$brand-blue-75:       hsl(240, 100%, 75%);
$brand-purple-75:     hsl(300, 100%, 75%);
$brand-pink-75:       hsl(340, 100%, 75%);

$gray-100: hsl(0, 0%, 100%); // White
$gray-090: hsl(0, 0%, 90%); // Pearl Brite
$gray-080: hsl(0, 0%, 80%); // Iron Fist
$gray-070: hsl(0, 0%, 70%); // Tangled Web
$gray-060: hsl(0, 0%, 60%); // Million Gray
$gray-050: hsl(0, 0%, 50%); // Gray
$gray-040: hsl(0, 0%, 40%); // Dim Gray
$gray-030: hsl(0, 0%, 30%); // Shady Character
$gray-020: hsl(0, 0%, 20%); // Carbon
$gray-010: hsl(0, 0%, 10%); // Piano Black
$gray-000: hsl(0, 0%, 0%); // Black