@font-face {
    font-family: 'Unbounded';
    src: url("@assets/fonts/Unbounded/Unbounded-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url("@assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url("@assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}