div.projectCard {

    border: 0.25em solid white;
    border-radius: 5%;
    overflow: hidden;

    div.thumbnailWrapper {
        position: relative;
        width: 25em;
        height: 25em;

        img.thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.3s ease;
        }
        div.overlay {
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, #000000AA 30%, #ffffff44 100%);
            z-index: 1;
            transition: opacity 0.3s ease;
        }
        div.hoverOverlay {
            position: absolute;
            inset: 0;
            background-color: rgba(0,0,0,0.7);
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 2;
        }
        h2.projectName {
            position: absolute;
            bottom: 0.5em;
            left: 0.5em;
            color: white;
            font-size: 2.5em;
            text-align: start;
            margin: 0;
            z-index: 3;
            transition: all 0.3s ease;
        }
        h3.projectDate, h3.technologies {
            position: absolute;
            bottom: 0;
            left: 1em;
            color: lightgray;
            font-size: 1.25em;
            font-weight: normal;
            margin: 0;
            z-index: 3;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            text-align: start;
        }
        h3.projectDate {
            font-style: italic;
        }
        h3.projectDesc {
            position: absolute;
            bottom: 0;
            left: 1.06125em;
            color: white;
            font-weight: normal;
            margin: 0;
            z-index: 3;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            text-align: start;
            width: 88%;
        }

        &:hover {
            img.thumbnail {
                transform: scale(1.125);
            }
            div.hoverOverlay {
                opacity: 1;
            }
            h2.projectName {
                transform: translateY(-6em);
                text-decoration: underline;
                text-underline-offset: 8px;
            }
            h3.projectDate {
                transform: translateY(-11em);
            }
            h3.technologies {
                transform: translateY(-9.5em);
            }
            h3.projectDesc {
                transform: translateY(-1em);
            }
        }
    }


}