div.projectCard {

    border: 0.25em solid white;
    border-radius: 5%;
    overflow: hidden;

    .thumbnailWrapper {
        position: relative;
        width: 25em;
        height: 25em;

        .thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.3s ease;
        }
        .overlay {
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, #000000AA 30%, #ffffff44 100%);
            z-index: 1;
            transition: opacity 0.3s ease;
        }
        .hoverOverlay {
            position: absolute;
            inset: 0;
            background-color: rgba(0,0,0,0.7);
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 2;
        }
        .projectName {
            position: absolute;
            bottom: 0.5em;
            left: 0.5em;
            color: white;
            width: 90%;
            font-size: 2.25em;
            text-align: start;
            margin: 0;
            z-index: 3;
            transition: all 0.3s ease;
        }
        .projectDate, .technologies {
            position: absolute;
            bottom: 0;
            left: 1em;
            color: lightgray;
            font-size: 1.25em;
            font-weight: normal;
            margin: 0;
            z-index: 3;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            text-align: start;
        }
        .projectDate {
            font-style: italic;
        }
        .projectDesc {
            position: absolute;
            bottom: 0;
            left: 1.06125em;
            color: white;
            font-weight: normal;
            font-size: 1.125em;
            margin: 0;
            z-index: 3;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            text-align: start;
            width: 88%;
        }

        &:hover {
            .thumbnail {
                transform: scale(1.125);
            }
            .hoverOverlay {
                opacity: 1;
            }
            .projectName {
                transform: translateY(-6.5em);
                text-decoration: underline;
                text-underline-offset: 8px;
            }
            .projectDate {
                transform: translateY(-10em);
            }
            .technologies {
                transform: translateY(-8.5em);
            }
            .projectDesc {
                transform: translateY(-1em);
            }
        }
    }


}