main {
    position: absolute;
    background-color: $background-1;
    height: fit-content;
    width: 100%;
    margin-top: $header-height;
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}