.fractal {

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    h1.title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        pointer-events: none;
        width: 6em;
        text-align: center;
    }
}